
/* Prevent the navbar from overlaying the content. */
body { padding-top: 70px; }

/* Make alert text readable */
.alert { font-weight: 500; }

/* Login page CSS */
.form-signin {
	max-width: 400px;
	padding: 15px;
	margin: 0px auto;
}
.form-signin .alert {
	margin-top: 15px;
}


/***********************
 * Challenge view list *
 ***********************/
h1 small { padding-left: 1em; }

#challenge-list { max-width: 900px; }

.challenge {
	height: auto;
	vertical-align: middle;
}
.challenge .bounty { 
	width: 14%;
	/*padding: 10px;*/
	font-size: 2em;
	line-height: 2em;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	/*display: table-cell;*/
	/*height: 100%;*/
	/*padding-bottom: 100%;
	margin-bottom: -100%;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column; /* colu*/mn | row */
}
.challenge .challenge-info { 
	width: 85%;
	/*margin-left: 110px;*/
	padding-left: 10px;
	display: inline-block;
	vertical-align: middle;
/*	padding-bottom: 100%;
	margin-bottom: -100%;*/
}
.challenge .expire-date { float:right; }
.challenge .title { float:none; }
.challenge h4 {
	margin-top: 0em;
	font-weight: 500;
}
.challenge h4 small {
	color: #666;
}
.challenge .comment-count { 
	display: block;
	float: right;
}
.clickableDiv {	cursor:pointer; }
.clickableDiv:nth-child(even) { background-color: #f3f3f3; }
.clickableDiv:hover { background-color: #d9edf7; }

#id_honeypot { display: none; }


/* mimicking the 'subtle' stuff */
.gray { color: #999; }