
/* Prevent the navbar from overlaying the content. */
body { padding-top: 70px; }

/* Make alert text readable */
.alert { font-weight: 500; }

/* Login page CSS */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0px auto;
}
.form-signin .alert {
	margin-top: 15px;
}