
/* Prevent the navbar from overlaying the content. */
body { padding-top: 70px; }

/* Make alert text readable */
.alert { font-weight: 500; }

/* Login page CSS */
.form-signin {
	max-width: 400px;
	padding: 15px;
	margin: 0px auto;
}
.form-signin .alert {
	margin-top: 15px;
}


/***********************
 * Challenge view list *
 ***********************/
h1 small { padding-left: 1em; }

#challenge-list { max-width: 900px; }

.challenge .bounty { 
	width: 110px;
	padding: 10px;
	font-size: 2em;
	text-align: center;
	float:left;
}
.challenge .challenge-info { 
	margin-left: 110px;
	padding-left: 10px;
}
.challenge .expire-date { float:right; }
.challenge .title { float:none; }
.challenge h4 {
	margin-top: 0em;
	font-weight: 500;
}
.challenge h4 small {
	color: #666;
}
.challenge .comment-count { 
	display: block;
	float: right;
}

#id_honeypot { display: none; }


/* mimicking the 'subtle' stuff */
.gray { color: #999; }