{% extends "openbounty/base.html" %}
{% load comments %}

{% block title %}
Unclaimed Bounties
{% endblock title %}

{% block head %}
<script language="javascript" type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".clickableDiv").click(function() {
			window.document.location = $(this).attr("href");
		}).hover(function() {
			$(this).toggleClass('hover');
		});
	});
</script>
{% endblock head %}

{% block content %}

<h1>Unclaimed Bounties <small>Support your favorites!</small></h1>

{# eventualy we'd want to like maybe filter them at all #}
<div id="challenge-list">
	{% for challenge in challenges %}
	{% get_comment_count for challenge as comment_count %}
	<div class="challenge panel panel-default clickableDiv" href="/challenge/{{ challenge.id }}">  
		<div class="panel-body">
			<div class="bounty">${{ challenge.bounty }}</div>
			<div class="challenge-info">
				<div class="expire-date">Expires {{ challenge.expiration_date }}</div>
				<h4 class="title"><a href="/challenge/{{ challenge.id }}">{{ challenge.title }}</a><br>
					<small>{{ challenge.challenge }}</small></h4>
				<a class="comment-count" href="/challenge/{{ challenge.id }}">{{ comment_count }} Comments</a>
				<span class="gray">posted by</span> {{ challenge.user }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}
