{% extends "openbounty/base.html" %}
{% load threadedcomments_tags %}

{% block title %}
Challenge
{% endblock title %}

{% block content %}
<div class="challenge">  
    <h2 class="title">{{challenge.title}}</div>
    <div class="description"> {{challenge.challenge}}</div>
    <div class="expires"> {{challenge.expiration_date}}</div>
</div>
<div class="post_comment">
	<form id="challenge_id" action="" method="post">{% csrf_token %}				
	<input type="hidden" name="challenge_id" value="{{ content.challenge.id }}">				
	<div class="title">Title {{form.title}}</div>
    <div class="content">Content {{form.comment}}</div>
	<input type="submit" value="Submit" />
	</form>
</div>

{% render_comment_list for challenge %}
{% render_comment_form for challenge %}

        {#<div class = "comments">
            {{content.challenge.user}}
            {% for comment in comments %}
                <div class="comment">
        <div class = "comments">
            {{challenge.user}}
            {% for comment in comments %}
                <div class="comment">
                    <div name="title">Title: {{comment.title}}</div>
                    <div name="comment">Comment: {{comment.comment}}</div>
                    <div name="user">User: {{comment.user}}</div>
                </div>
            {% endfor %}
        </div>#}
        
{% endblock content %}
