{% extends "openbounty/base.html" %}
{% load comments %}

{% block title %}
Challenge
{% endblock title %}

{% block content %}
<div class="challenge">  
	<h1 class="title">{{challenge.title}}</h1>
	<div class="description"> {{challenge.challenge}}</div>
	<div class="expires"><span class="gray">Expires on </span>{{challenge.expiration_date}}</div>
</div>
{% if not backed and challenge.user != request.user %}     
        <div class="back_challenge">
              <form action="{{ request.path }}#challenge_{{ challenge.id }}" method="post">{% csrf_token %}
              <input type="hidden" name="challenge_id" value="{{ challenge.id }}" />
              <input type="hidden" name="action" value="back" />
              <button type="submit" class="btn btn-default">Back This!</button>
          </form>
        </div>
{% elif challenge.user != request.user %}
        <form action="{{ request.path }}#challenge_{{ challenge.id }}" method="post">{% csrf_token %}
         <input type="hidden" name="challenge_id" value="{{ challenge.id }}" />
         <input type="hidden" name="action" value="unback" />
         <button type="submit" class="btn btn-default">Unback This!</button>
        </form>
        {% endif %}

<form action="{% url 'claim' challenge.id %}">
	<button class="btn btn-default" type="submit">Submit a Claim</button>
</form>
{% comment %}
{% render_comment_list for challenge %}
{% render_comment_form for challenge %}
{% endcomment %}

<h2>Claims</h2>
{% for claim in claims %}
<div>
<a href="{{ claim.url }}">{{ claim.url }}</a>
</div>
<div>
{{ claim.description }}
</div>
{% endfor %}

{% get_comment_list for challenge as list %}

<h2>Comments</h2>
<div id="comment-list">
	{% for comment in list %}
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="comment-header">
				<strong>{{ comment.user }}</strong>
				<small>
					<span class="gray"> on </span>
					<span class="date">{{ comment.submit_date }}</span>
				</small>
			</div>
			{{ comment.comment }}
		</div>
	</div>
	{% endfor %}
</div>

{% if user.is_authenticated %}
{% get_comment_form for challenge as form %}
<form action="{% comment_form_target %}" method="POST">
	{% csrf_token %}
		<textarea cols="40" id="id_comment" name="comment" class="form-control" rows="2" placeholder="Type your comment here"></textarea>
		<button type="submit" class="btn btn-default btn-primary" value="Add comment" id="id_submit">Add comment</button>
	{{ form.honeypot }}
	{{ form.content_type }}
	{{ form.object_pk }}
	{{ form.timestamp }}
	{{ form.security_hash }}
	<input type="hidden" name="next" value="{{ request.path }}" />
</form>
{% else %}
<p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}

{% endblock content %}
