{% extends "openbounty/base.html" %}
{% load comments %}

{% block title %}
 Challenge
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="challenge">  
		    <div name="title">Title {{challenge.title}}</div>
            <div name="description"> {{challenge.challenge}}</div>
		    <div name="expires"> {{challenge.expiration_date}}</div>
		</div>
        <div class="post_comment">
			<form id="challenge_id" action="" method="post">{% csrf_token %}

			<input type="hidden" name="challenge_id" value="{{ challenge.id }}">				
			<div name="title">Title {{form.title}}</div>
            <div name="content">Content {{form.comment}}</div>
			<input type="submit" value="Submit" />
			</form>
		</div>

        {#
        {% render_comment_list for challenge %}
        {% render_comment_form for challenge %}
        #}
        

    </div>
{% endblock content %}
