{% extends "openbounty/base.html" %}

{% block title %}
Claim Bounty
{% endblock title %}

{% block content %}

<h1>Submit Proof to Claim</h1>

{% if user.is_authenticated %}
    <form action="" id="proof-form" method="POST">
    {% csrf_token %}
    <input class="form-control" placeholder="A link to your proof, such as an image or a video" id="id_url" type="url" name="url"></input>
    <br />
    <textarea class="form-control" placeholder="Anything you want to say to explain what you did" id="id_comment" rows="10" name="description" cols="40"></textarea>
    <br />
    <input type="submit" class="btn btn-lg btn-default btn-primary" value="Post Proof" id="id_submit" />
    <input type="hidden" name="next" value="{{ request.path }}" />
    </form>
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to leave a comment.</p>
{% endif %}

{% endblock content %}
