<h2>Log In</h2>
{% if logged_in %}
You must log out before you can log in.
<br />
{% else %}
<div class="state">
{{ state }}
</div>
<form action="{% url 'login' %}" method="post">
  {% csrf_token %}
  <div class="form">
    <label for="username">Username or Email:</label><br />
    <input type="text" name="username" value="{{ username }}" size="40" autofocus />
  </div>
  <div class="form">
    <label for="password">Password:</label><br />
    <input type="password" name="password" value="" size="40" />
  </div>
  <input type="submit" value="Log In" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}
