{% extends "openbounty/base.html" %}
{% block head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">
        $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        })
    </script>
    <link type="text/css" href="/static/openbounty/css/profile.css" rel="stylesheet">
{% endblock head %}
{% block title %}
 Profile
{% endblock title %}

{% block content %}   
    <div class="clearfix">
        <ul class="profile">
            <li>Name: {{ name }}</li>
            <li>Email: {{ email }}</li>
            <li>Phone: {{ phone }}</li>
            <li>Wallet: ${{ wallet }}</li>
            <li>
            <form class="add-money" action="" method="post">{% csrf_token %}
                {{ form.money }}       
                <button type="submit" class="btn btn-default">Add Money</button>
            </form>
            </li>
        </ul>
    </div>
    <div> 
        <div class="challenges">
            <ul class="nav nav-tabs" id="myTab">
                    <li class="active" ><a href="#backed" data-toggle="tab">Backed Challenges</a></li>
                    <li><a href="#started" data-toggle="tab">Challenges Started</a></li>
            </ul>
        </div>
        <div class="tab-content">
      		<div class="tab-pane" id="backed">
                <div class="container">
                {% if backed_challenges %}
                    <div class="challenge">  
                        <h2 class="title">{{challenge.title}}</h2>
                        <div class="description"> {{challenge.challenge}}</div>
                        <div class="expires"> {{challenge.expiration_date}}</div>
                	</div>
                {% endif %}
                </div>
            </div>
      		<div class="tab-pane" id="started">
                <div class="container">
                {% if started_challenges %}
                    <ul>
                    {% for challenge in started_challenges %}
                        <div class="challenge">  
                            <h2 class="title">{{challenge.title}}</h2>
                            <div class="description"> {{challenge.challenge}}</div>
                            <div class="expires"> {{challenge.expiration_date}}</div>
                        </div>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
