{% extends "openbounty/base.html" %}
{% block title %}
  Register
{% endblock title %}

{% block content %}
  
  {% if logged_in %}
    You must log out before you can register.
    <br />
  {% else %}
    <!--<div class="state">
    {{ state|linebreaks }}
    <font color="red">{{ errors|linebreaks }}</font>
    </div>-->
    <form class="form-signin" action="{% url 'register' %}" method="post">
      {% csrf_token %}
      <h2 class="form-signin-heading">Register for Open Bounty</h2>

      <input required class="form-control" placeholder="Username" type="text" name="username" value="{{ username }}" size  ="40" />
      
      <input required class="form-control" placeholder="First Name" type="text" name="first" value="{{ first }}" size="40" />
      
      <input required class="form-control" placeholder="Last Name" type="text" name="last" value="{{ last }}" size="40" />
      
      <input required class="form-control" placeholder="Email Address" type="text" name="email" value="{{ email }}" size="40" />
      
      <input required class="form-control" placeholder="Password" type="password" name="password" value="" size="40" />
      
      <input required class="form-control" placeholder="Reenter Password" type="password" name="reenterpassword" value="" size=" 40" />
      
      <br />
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      <input type="hidden" name="next" value="{{ next }}" />

      {% if errors %}
        <div class="alert alert-danger">{{ errors }}</div>
      {% endif %}

    </form>
  {% endif %}
{% endblock content %}
