{% extends "openbounty/base.html" %}
{% block title %}
Unclaimed Bounties
{% endblock title %}

{% block content %}

<h1>Unclaimed Bounties <small>Support your favorites!</small></h1>

{# eventualy we'd want to like maybe filter them at all #}
<div id="challenge-list">
	{% for content in contents %} 
	<div class="panel panel-default">
		<div class="challenge panel-body">
			<div class="bounty">${{content.challenge.bounty}}</div>
			<div class="challenge-info">
				<div class="expire-date">Expires {{content.challenge.expiration_date}}</div>
				<h4 class="title"><a href="/challenge/{{content.challenge.id}}">{{ content.challenge.title }}</a><br>
					<small>{{ content.challenge.challenge }}</small></h4>
				<a class="comment-count" href="/challenge/{{content.challenge.id}}">{{ content.comments }} Comments</a>
				<span class="gray">posted by</span> {{content.challenge.user}}
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}
